*{
    box-sizing: border-box;
}
body{ 
    /*Se especifica una altura minima con un display grid para el body para luego poder tener el footer en la parte inferior de la página+*/
    min-height: 100vh; 
    /*El margen 0 es para que los colores de las diferentes secciones abarquen la pagina completamente*/
    margin: 0; 
    display: grid;
    /*Diviendo el body en 3 filas, 1ra fila para el menu , la 3ra fila par el footer y la 2da fila es para el resto del contenido, respectivamente. 
    auto indica que el tamaño de la 1ra y 3ra fila va dependender del tamaño que ocupe su contenido respectivamente
    1fr indica que la 2da fila tomara el resto del espacio disponible despues de calcular el tamaño de la 1ra y 3ra fila.  */
    grid-template-rows: auto 1fr auto;
    background-color: #f1c376;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #ffffff; 
    justify-items: center;
  }
  

/*display flex para mostrar los videos uno a lado de otro.*/ 
.flex{
    display:flex;
    margin-right:20px;
    margin-left:20px;
    margin-top: 7%;
    margin-bottom: 20px;
    gap:30px;
    height:450px;
}

/*muestra un pequeño contenedor dentro del flex y hacemos que resalte con poco de sombra*/
.flex-container{
	padding:12px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0a0909;
}

.titulo-noticias{
	text-align: center;
	min-height: 40px;
	padding-top: 16px;
	font-weight:bold;
	font-size:18px;
	text-decoration:underline;
	font-family: Garamond, serif;
}

.titulo-desc{
	padding-top: 16px;
	font-size: 15px;
	max-height: 72px;
	text-transform:uppercase;
}

.flex a{
	font-weight:700;
}